# Graph database (don't auto store)
database/*
search_index/

# Executable file
main

landing_table_*

# Temp file
dump_graphs.py

# Tutte src files
src/tutte/* 
*tutte/tutte_bhkk
src/invariants/bliss/*

*.py[cod]
.\#*
*.bz2
sequence.db
*.bak

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Emacs junk
*~
\#*

# Report temps
report/*.aux
report/*.log
report/*.out
report/*.pdf
report/*.bak
report/*.bbl
report/*.blg
report/*.tdo
report/auto

# nauty build files
src/nauty/config.log
src/nauty/config.status
src/nauty/makefile
src/nauty/gtools.h
src/nauty/*.o
src/nauty/naututil.h
src/nauty/nauty.h
src/nauty/showg
src/nauty/dreadnaut
src/nauty/planarg
src/nauty/shortg
src/nauty/labelg
src/nauty/geng
src/nauty/genbg
src/nauty/pickg
src/nauty/multig
src/nauty/gentourng
src/nauty/countg
src/nauty/genrang
src/nauty/directg
src/nauty/newedgeg
src/nauty/addedgeg
src/nauty/NRswitchg
src/nauty/complg
src/nauty/listg
src/nauty/dretog
src/nauty/amtog
src/nauty/deledgeg
src/nauty/biplabg
src/nauty/copyg
src/nauty/catg


