# Graph database (don't auto store)
database/*
bak_database.tar*
search_index/

# Temp file
dump_graphs.py

# Tutte src files
src/tutte/* 
*tutte/tutte_bhkk
src/bliss/*

*.py[cod]
.\#*
*.bz2
sequence.db

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Emacs junk
*~
\#*

# Report temps
report/*.aux
report/*.log
report/*.out
report/*.pdf
report/*.bak
report/*.bbl
report/*.blg
report/*.tdo
report/auto

