# Graph database (don't auto store)
database/*
search_index/

# Executable file
main

landing_table_*

# Temp file
dump_graphs.py

# Tutte src files
EoGF/invariants/tutte/* 
EoGF/invariants/*tutte/tutte_bhkk
EoGF/invariants/bliss/*

*.py[cod]
.\#*
*.bz2
sequence.db
*.bak

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Emacs junk
*~
\#*

# Report temps
report/*.aux
report/*.log
report/*.out
report/*.pdf
report/*.bak
report/*.bbl
report/*.blg
report/*.tdo
report/auto

# nauty build files
EoGF/nauty/config.log
EoGF/nauty/config.status
EoGF/nauty/makefile
EoGF/nauty/gtools.h
EoGF/nauty/*.o
EoGF/nauty/naututil.h
EoGF/nauty/nauty.h
EoGF/nauty/showg
EoGF/nauty/dreadnaut
EoGF/nauty/planarg
EoGF/nauty/shortg
EoGF/nauty/labelg
EoGF/nauty/geng
EoGF/nauty/genbg
EoGF/nauty/pickg
EoGF/nauty/multig
EoGF/nauty/gentourng
EoGF/nauty/countg
EoGF/nauty/genrang
EoGF/nauty/directg
EoGF/nauty/newedgeg
EoGF/nauty/addedgeg
EoGF/nauty/NRswitchg
EoGF/nauty/complg
EoGF/nauty/listg
EoGF/nauty/dretog
EoGF/nauty/amtog
EoGF/nauty/deledgeg
EoGF/nauty/biplabg
EoGF/nauty/copyg
EoGF/nauty/catg


